<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">LinuxLife</a>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="">FlauntYourStyle</a></li>
			<li class="nav-item"><a class="nav-link" href="/">Donate</a></li>
			<li class="nav-item"><a class="nav-link" href="/logout_page">Logout</a></li>
		</ul>
	</nav>
	<div class="container">
		<br>
		<h2>To make you fall in love with Linux</h2>
		<br>
	</div>
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8" style="font-size: 1rem;">
				<div class="card">
					<div class="card-body">
						<form th:action="@{/submitPaymentDetail}" method="POST">
							<fieldset class="form-group">
								<legend class="border-bottom mb-4">Donate</legend>

								<div class="form-group">
									<label for="customerId" class=" requiredField"> Name<span
										class="asteriskField">*</span>
									</label>
									<div class="form-group">
										<input type="text" name="CUST_ID" autofocus=""
											class="textinput textInput form-control" required=""
											id="customerId">
									</div>
								</div>
								<div class="form-group">
									<label class=" requiredField">
										Donation Amount<span class="asteriskField">*</span>
									</label>
									<div class="form-group">
										<input type="text" name="TXN_AMOUNT"
											class="textinput textInput form-control" required=""
											id="transactionAmount">
									</div>
								</div>
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="submit">Donate</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h2>LinuxLife</h2>
						<ul class="list-group">
							<li class="list-group-item list-group-item-light">Best
								Distros</li>
							<li class="list-group-item list-group-item-light">Best UI/UX</li>
							<li class="list-group-item list-group-item-light">Ultimate
								Customization</li>
							<li class="list-group-item list-group-item-light">Potato PC</li>
						</ul>
						<br>
						<p>Best viewed from Desktop</p>
						<a href="https://www.linkedin.com/in/abhinav-mmmut/">Contact
							the developer</a>
						<p></p>
					</div>
				</div>
			</div>
	</main>
	</div>


</body>
</html>